.button {
  color: #278eb4;
  background: linear-gradient(180deg, #faf2e5 0%, #ede5da 100%);
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(#000, 0.25), inset 0 0 0 1px rgba(#000, .07);

  &:hover {
    color: lighten(#278eb4, 5%);
  }

  &:active {
    color: #278eb4;
    box-shadow: inset 1px 1px 2px rgba(#000, 0.25), inset 0 0 0 1px rgba(#000, .07);
  }
}

.medium {
  font: bold 12px 'Arial',sans-serif;
  padding: 4px 8px;
  border-radius: 5px;
}

.large {
  font: bold 14px 'Arial',sans-serif;
  padding: 8px 12px;
  border-radius: 8px;
}

